@model BookStore.Models.Stock

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Stock</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StockCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StockCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoanLength)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoanLength)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Book.BookName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Book.BookName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.StockID }, new { @class = "btn btn-info" })
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-info" })
</p>
