@model IEnumerable<BookStore.Models.Stock>

@{
    ViewBag.Title = "Stock dashboard";
}

<h2>@ViewBag.Title</h2>

<table class="table table-bordered table-condensed">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StockCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Book.BookName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.StockCount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Book.BookName)
        </td>
        <td>
            @if (this.User.IsInRole("Admin"))
            {
                @Html.ActionLink("Modify Stockfeed", "Edit", new { id = item.StockID }, new { @class = "btn btn-primary btn-sm" })
            }
            @if (this.User.IsInRole("Admin"))
            {
                @Html.ActionLink("Details", "Details", new { id = item.StockID }, new { @class = "btn btn-primary btn-sm" })
            }
            @if (this.User.IsInRole("Admin"))
            {
                @Html.ActionLink("Remove Stock", "Delete", new { id = item.StockID }, new { @class = "btn btn-primary btn-sm" })
            }
        </td>
    </tr>
}

</table>
