@model IEnumerable<BookStore.Models.Author>

@{
    ViewBag.Title = "Author List Page";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-warning btn-sm" })
</p>
<table class="table table-bordered table-condensed table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AuthorFirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AuthorLastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AuthorBirthYear)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AuthorFirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AuthorLastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AuthorBirthYear)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AuthorID } , new { @class = "btn btn-primary btn-sm"})
            @Html.ActionLink("Details", "Details", new { id=item.AuthorID }, new { @class = "btn btn-primary btn-sm" })
            @Html.ActionLink("Delete", "Delete", new { id=item.AuthorID }, new { @class = "btn btn-primary btn-sm" })
        </td>
    </tr>
}

</table>
